/* 既存のCSSスタイル */
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #fef6e4;
    color: #172c66;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header p {
    margin-top: 0px !important;
}

img.avatar {
    margin: 0px;
}

.twitter-tweet {
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
}

div.container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

header {
    background: #f3d2c1;
    color: #172c66;
    padding-top: 30px;
    min-height: 70px;
    text-align: center;
    border-bottom: 5px solid #fec89a;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
    color: #001858;
}

header p {
    color: #172c66;
    font-size: 1.2em;
    font-weight: 300;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fec89a;
    margin-bottom: 15px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    flex: 1 1 300px;
    background: #ffffff;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card h2 {
    color: #001858;
    border-bottom: 2px dashed #fec89a;
    padding-bottom: 10px;
}

.sns-links {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    /* 追加: フレックスアイテムが折り返すように */
    margin-top: 20px;
    margin-left: 5px;
}

.sns-links a {
    margin: 0 10px;
    color: #f582ae;
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.5s ease;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #ffffff;
}

.sns-links a:hover {
    color: #ffffff;
    background-color: #f582ae;
    transform: scale(1.1);
}

footer {
    background: #f3d2c1;
    color: #172c66;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-weight: 300;
}

.card a {
    margin: 0 0px;
    color: #f582ae;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0px 5px;
}

.card a:hover {
    color: #ffffff;
    background-color: #f582ae;
    transform: scale(1.1);
}

a#green-flow {
    margin: 0 0px;
    color: #7aaf52;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0px 5px;

}

a#green-flow:hover {
    color: #ffffff;
    background-color: #59bb0c;
    transform: scale(1.1);
}

a#python {
    margin: 0 0px;
    color: #1ca8b8;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 5px 10px;
    padding-right: 5px !important;
    border-radius: 5px;
    background-color: #ffffffce;
    margin: 0px 5px;
}

a#python:hover {
    color: #1ca8b8;
    background-color: #e4e6c0;
    transform: scale(1.1);
}

a#comingsoon_link {
    margin: 0 0px;
    color: #9f9f9fce;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 5px 10px;
    padding-right: 5px !important;
    border-radius: 5px;
    background-color: white;
    margin: 0px 5px;
}

a#comingsoon_link:hover {
    color: #ffffff;
    background-color: #9f9f9fce;
    transform: scale(1.1);
}

p#license {
    font-size: small;
    margin: 0px;
    text-align: left;
    padding-left: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

ul li a {
    color: #f582ae;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

#err {
    all: initial !important;
}

/* 追加: スマホ用のメディアクエリ */
@media (max-width: 600px) {
    .sns-links a {
        flex: 1 1 45%;
        /* 幅を45%にして2列に分ける */
        margin: 5px;
    }
}


/*========= LoadingのためのCSS ===============*/


/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #fef6e4;
    text-align: center;
    color: #fff;
}

/* Loading画像中央配置　*/
#splash_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
    width: 260px;
}

/* fadeUpをするアイコンの動き */
.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*========= SVG操作手書き風にするためのCSS ===============*/

/***************************************************
 * Generated by SVG Artista on 7/24/2024, 12:51:01 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 2017.811279296875px;
        stroke-dasharray: 2017.811279296875px
    }

    100% {
        stroke-dashoffset: 4035.62255859375px;
        stroke-dasharray: 2017.811279296875px
    }
}

@keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 2017.811279296875px;
        stroke-dasharray: 2017.811279296875px
    }

    100% {
        stroke-dashoffset: 4035.62255859375px;
        stroke-dasharray: 2017.811279296875px
    }
}

.svg-elem-1 {
    -webkit-animation: animate-svg-stroke-1 1.5s ease-in 1s both;
    animation: animate-svg-stroke-1 1.5s ease-in 1s both
}


.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

.grey-back {
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.grey-back.visible {
    opacity: 1;
}

.grey-back.hidden {
    display: none;
}
